body{
    font-family: 'Major Mono Display', monospace;
}
.nav-link {
    font-size: 15px;
    margin-top: 15px;
}
a.navbar-brand img{
    width: 100px;
}
.jumbotron{
    background-color: white;
    background-image: url(curator.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    height: 300px;
    padding-top: 50px;
}
.img
{
    padding: 10px 3px 7px 0;
}
